HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
var/log/tomyongji/*.log
LOG_PATH_IS_UNDEFINED/*.log

# 내 로컬 테스트용 Docker 설정 무시
Dockerfile
docker-compose.yml

# 내 깃허브에서 git actions가 수행되지 않도록 함
.github/workflows/dev-github-actions.yml